<article class="grid">
  <a href="{{ .Permalink }}">
    <div class="image" style="background-image: url({{ if (isset .Params "image") }}{{ .Params.image }}{{ else }}{{ $.Site.BaseURL }}/images/default.jpg{{ end }});"></div>
    <footer>
      <div class="date">
        <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      </div>
      <h2 class="title">{{ .Title }}</h2>
      <div class="summary">{{ .Summary }}</div>
    </footer>
  </a>
</article>
