<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}

    <div class="container">

      <div class="row">
        <div class="col-md-9">

          <article class="single">
            <div class="image" style="background-image: url({{ if (isset .Params "image") }}{{ .Params.image }}{{ else }}{{ $.Site.BaseURL }}/images/default.jpg{{ end }});"></div>
            <div class="body">
              <h1>{{ .Title }}</h1>
              {{ partial "tags_in_article.html" . }}
              {{ partial "social_buttons.html" . }}
              <div class="content">
                {{ .Content }}
              </div>
              {{ partial "social_buttons.html" . }}
              {{ partial "disqus.html" . }}
            </div>
          </article>

        </div>
        <div class="col-md-3">
          {{ partial "sidebar.html" . }}
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "body_last_scripts.html" . }}

  </body>
</html>
