<aside class="site">

  {{ if and .IsPage (ne .Params.toc false) }}
  <section>
    <header>Table Of Contents</header>
    <div>{{ .TableOfContents }}</div>
  </section>
  {{ end }}

  {{ if ne (len .Site.Menus) 0 }}
  <section>
    <header>Menu</header>
    <div>
      <nav class="p-menu">
        {{ range .Site.Menus }}
        <ul>
          {{ range . }}
          <li>
            {{ if .HasChildren }}
            <a href="#">{{ .Pre }} {{ .Name }}</a>
            <ul>
              {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
          {{ end }}
          {{end}}
        </ul>
        {{end}}
      </nav>
    </div>
  </section>
  {{ end }}

  <section>
    <header>Latest Posts</header>
    <div>
      {{- $recent := first 5 .Site.RegularPages.ByDate.Reverse }}
      {{- $recent_num := (.Site.Params.widgets.recent_num | default 5) }}
      {{- range first $recent_num $recent }}
      {{- .Render "li" }}
      {{- end }}
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="taxonomies">
    <header class="taxonomies__header">{{ $key | singularize }}</header>
    <div class="taxonomies__body">
      <ul>
        {{ range first 10 $value.ByCount }}<li><a href="/{{ $key }}/{{ .Name | urlize }}/">{{ .Name }}</a></li>{{ end }}
      </ul>
    </div>
  </section>
  {{ end }}

  <section class="author">
    <header class="author__header"> About Me</header>
    <div class="author__body">
      <div class="aboutme">
        <div class="aboutme__icon">
          <i class="fas fa-piggy-bank fa-lg"> {{ .Site.Params.author  }}</i>
        </div>
        {{ .Site.Params.aboutme }}
      </div>
      <div class="contact">
        {{ with .Site.Params.githubId }}
        <a target="_blank" href="https://github.com/{{.}}"><i class="fab fa-github"></i> https://github.com/{{ . }}</a>
        {{ end }}
        {{ with .Site.Params.twitterId }}
        <a target="_blank" href="https://twitter.com/{{.}}"><i class="fab fa-twitter"></i> https://twitter.com/{{ . }}</a>
        {{ end }}
      </div>

      <div class="aboutwork">
        <div class="aboutwork__icon">
          <i class="fas fa-laptop-code fa-lg"> Work</i>
        </div>
        {{ .Site.Params.aboutwork }}
      </div>
      <div class="contact">
        {{ with .Site.Params.email }}
        <a target="_blank" href="mailto:yhkyky+work@gmail.com"><i class="fas fa-envelope"></i> {{.}}</a>
        {{ end }}
      </div>
    </div>
  </section>

</aside>
